<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center pt-5">
        <div class="col-6">
          <form [formGroup]="profileForm" (ngSubmit)="consoleDetails()">
            <!-- name -->
            <div class="form-group">
              <label>Name</label>
              <input
                formControlName="name"
                [ngClass]="{
                  valid: profileForm.get('name').valid,
                  invalid:
                    profileForm.get('name').invalid &&
                    profileForm.get('name').dirty
                }"
                type="text"
                class="form-control"
              />
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('name').invalid &&
                  profileForm.get('name').dirty
                "
                >Enter valid name min(2 chars)</span
              >
            </div>
            <!-- email -->
            <div class="form-group">
              <label>Email address</label>
              <input
                formControlName="email"
                [ngClass]="{
                  valid: profileForm.get('email').valid,
                  invalid:
                    profileForm.get('email').invalid &&
                    profileForm.get('email').dirty
                }"
                type="email"
                class="form-control"
              />
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('email').invalid &&
                  profileForm.get('email').dirty
                "
                >Enter valid email</span
              >
            </div>
            <!-- phone -->
            <div class="form-group">
              <label>Phone Number</label>
              <input
                formControlName="phone"
                [ngClass]="{
                  valid: profileForm.get('phone').valid,
                  invalid:
                    profileForm.get('phone').invalid &&
                    profileForm.get('phone').dirty
                }"
                type="text"
                class="form-control"
              />
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('phone').invalid &&
                  profileForm.get('phone').dirty
                "
                >Enter valid phone number min(4 chars)</span
              >
            </div>
            <!-- pass -->
            <div class="form-group">
              <label>Password</label>
              <input
                formControlName="pass"
                [ngClass]="{
                  valid: profileForm.get('pass').valid,
                  invalid:
                    profileForm.get('pass').invalid &&
                    profileForm.get('pass').dirty
                }"
                type="password"
                class="form-control"
                (input)="updatePatt()"
              />
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('pass').invalid &&
                  profileForm.get('pass').dirty
                "
                >Enter valid password min(8 chars)</span
              >
            </div>
            <!-- confirm pass -->
            <div class="form-group">
              <label>Confirm Password</label>
              <input
                formControlName="rpass"
                [ngClass]="{
                  valid:
                    profileForm.get('rpass').valid &&
                    profileForm.get('pass').valid,
                  invalid:
                    profileForm.get('rpass').invalid &&
                    profileForm.get('rpass').dirty
                }"
                type="password"
                class="form-control"
              />
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('rpass').invalid &&
                  profileForm.get('rpass').dirty
                "
                >passwords dont match</span
              >
            </div>
            <!-- country -->
            <div class="form-group">
              <label>Country</label>
              <select class="form-control" formControlName="country">
                <option
                  *ngFor="let country of countryList"
                  [value]="country.code"
                  >{{ country.name }}</option
                >
              </select>
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('country').invalid &&
                  profileForm.get('country').dirty
                "
                >Select country</span
              >
            </div>
            <!-- state -->
            <div class="form-group">
              <label>State</label>
              <select class="form-control" formControlName="state">
                <option *ngFor="let state of stateList" [value]="state.code">{{
                  state.name
                }}</option>
              </select>
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('state').invalid &&
                  profileForm.get('state').dirty
                "
                >Select state</span
              >
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('country').invalid &&
                  profileForm.get('state').touched
                "
                >Select country first</span
              >
            </div>
            <!-- city -->
            <div class="form-group">
              <label>City</label>
              <select class="form-control" formControlName="city">
                <option *ngFor="let city of cityList" [value]="city.code">{{
                  city.name
                }}</option>
              </select>
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('city').invalid &&
                  profileForm.get('city').dirty
                "
                >Select city</span
              ><br />
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('state').invalid &&
                  profileForm.get('city').touched
                "
                >Select state first</span
              >
            </div>
            <br />
            <!-- gender -->
            <label>Gender</label><br />
            <div class="form-check form-check-inline">
              <input
                formControlName="gender"
                class="form-check-input"
                type="radio"
                name="gender"
                value="male"
              />
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                formControlName="gender"
                class="form-check-input"
                type="radio"
                name="gender"
                value="female"
              />
              <label class="form-check-label">Female</label>
            </div>
            <br />
            <span
              class="invalidTxt"
              *ngIf="
                profileForm.get('gender').invalid &&
                profileForm.get('gender').dirty
              "
              >Select any one</span
            >
            <br /><br />
            <!-- status -->
            <label>Marital Status</label><br />
            <div class="form-check form-check-inline">
              <input
                formControlName="status"
                class="form-check-input"
                type="radio"
                name="status"
                value="single"
              />
              <label class="form-check-label">Single</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                formControlName="status"
                class="form-check-input"
                type="radio"
                name="status"
                value="marrid"
              />
              <label class="form-check-label">Marrid</label>
            </div>
            <br />
            <span
              class="invalidTxt"
              *ngIf="
                profileForm.get('status').invalid &&
                profileForm.get('status').dirty
              "
              >Select any one</span
            ><br /><br />
            <!-- food -->
            <div class="form-group">
              <label>Favouraite food:</label>
              <input
                formControlName="food"
                [ngClass]="{
                  valid: profileForm.get('food').valid,
                  invalid:
                    profileForm.get('food').invalid &&
                    profileForm.get('food').dirty
                }"
                type="text"
                class="form-control"
              />
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('food').invalid &&
                  profileForm.get('food').dirty
                "
                >Enter valid food min(2 chars)</span
              >
            </div>
            <!-- color -->
            <div class="form-group">
              <label>Favouraite Color:</label>
              <input
                formControlName="color"
                [ngClass]="{
                  valid: profileForm.get('color').valid,
                  invalid:
                    profileForm.get('food').invalid &&
                    profileForm.get('food').dirty
                }"
                type="text"
                class="form-control"
              />
              <span
                class="invalidTxt"
                *ngIf="
                  profileForm.get('color').invalid &&
                  profileForm.get('color').dirty
                "
                >Enter valid color min(2 chars)</span
              >
            </div>
            <!-- submit -->
            <br /><button
              type="submit"
              class="btn"
              [ngClass]="{
                'btn-success': profileForm.valid,
                'btn-danger': profileForm.invalid
              }"
              [disabled]="profileForm.invalid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>